<% include ../partials/header.html %>
<body>
  <div class="container">
    <div class="logo">
      <img src="../img/logo.png" alt="PayLoc" style="width:310px;height:90px;">
    </div>
    <div class="login-page">
      <div class="form">
        <form class="login-form" id="login-form" onsubmit="return submitForm(e)">
          <div class="appDescription">
            <p>Change Password</p>
          </div>

          <div class="form-group">
            <input type="password" id="password1" placeholder="New Password" />
          </div>
          <div class="form-group">
            <input type="password" id="password2" placeholder="Confirm New Password" />
          </div>
          <button type="button" id="actionBtn"><strong><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</strong></button>
          <p></p>
          <div style="display: none">
            <input type="submit" onclick="return submitForm(e)">
          </div>
          <p class="message">Please change your initial password in order to login</p>


        </form>
      </div>
    </div>
  </div>
  <script>
  $("#login-form").submit(function (e) {
    e.preventDefault();
  });
  </script>
</body>
</html>
