<% include ../partials/header.html %>
<body>
  <div class="container">
    <div class="logo">
      <img src="/img/logo.png" alt="PayLoc" style="width:310px;height:90px;">
    </div>
    <div class="mgmt-page">
      <form class="form-horizontal">
        <div class="mgmt-form">
          <div class="appDescription">
            <p>Edit <%- name %></p>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" placeholder="Name" required="required" value="<%- name %>" />
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="username" placeholder="Username" required="required" value="<%- username %>" />
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Access Level</label>
            <div class="col-sm-9">
              <select class="form-control" id="accessLevel">
                <option value="0" <%if (accessLevel == 0) { %>selected<% } %> >Manager</option>
                <option value="99" <%if (accessLevel > 0) { %>selected<% } %> >User</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Hourly Pay Rate</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="hourlyRate" placeholder="" required="required" value="<%- hourlyRate %>" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Phone Number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="phone" placeholder="" required="required" value="<%- user.phone %>" />
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Tax Withholding</label>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" class="form-control" id="flatRate" placeholder="Amount Withheld Per Paycheck " value="<%- taxWithholding.flatRate %>" />
              </div>
            </div>
            <div class="col-sm-1">
              <p>+</p>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <input type="text" class="form-control" id="percentage" placeholder="Percetage Withheld" value="<%- taxWithholding.percentage %>" />
                <div class="input-group-addon">%</div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" id="actionBtn"><strong>Update Information</strong></button>
          <hr>
          <button type="button" class="btn btn-danger" id="resetPasswd"><strong>Reset Password</strong></button>
          <button type="button" class="btn btn-danger" id="deleteUser"><strong>Delete User</strong></button>
          <button type="button" class="btn btn-primary" id="goBack"><strong>Back to User List</strong></button>


          <p></p>

        </div>
      </form>
    </div>
  </div>
</body>
</html>
